<legend><h2 style="color: navy">About Us : </h2>
<div class="container" style="background-color: whitesmoke;color:palevioletred">
<ul>
  <li>
  Our site, India's first online hypermarket, redefines the retail industry by not just delivering the widest range of quality products at your doorstep, but also adding value to every step of the process, thereby taking online shopping to a whole new level.
</li><br>

<li>
 At site, we go the extra mile to know our farmers, millers, bakers and other associates that we source our products from,ensuring that we don’t just deliver fresher and better products but also do so at the lowest prices anywhere in the market.
</li><br>
<li>
  We understand and control what goes into the making of your food, home needs and apparel. We procure from the cleanest and most natural sources. And we deliver everything in the safest and mosthygienic way.
</li><br>
  <li>
 The other important facet of site, is that everything we do is directed towards offering our customers the best possible experience and value. This focused customer-centric approach drives our every activity, at every department and at every stage.
</li>
</ul>
</div></legend>