<table class="table">
    <thead> 
      <th>Title</th>
      <th>Category</th> 
      <th>Quantity</th>
      <th>Price</th>
    </thead>
    <tbody>
      <tr *ngFor="let c of cartitems">
        <ng-container *ngIf="c.quantity!=0">
        <td>{{c.title}}</td>
        <td>{{c.category}}</td>
        <td>{{c.quantity}}</td>
        <td>{{c.price }}</td>
        </ng-container>
    </tr>
    </tbody>
    <tfoot>
        <tr>
          <th id="total" colspan="3">Total amount to be paid :</th>
          <td>{{total | currency}}</td>
        </tr>
       </tfoot>
  </table>
<div style="align-content: center" >
<button class="btn btn-primary" [disabled]="!show" (click)="proceed()">Proceed</button>
</div>
  
