/* You can add global styles to this file, and also import other style files */
.form-control.ng-valid.ng-touched
{
  border: 2px solid green;
}
.form-control.ng-invalid.ng-touched
{
  border: 2px solid red;
}
.div.wraper{
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 200px;
  background-color: lightgray;
}


h1
{
    color : black;
    text-align : center;
    font-family: "SIMPSON";
}
form
{
  align-content:"center";
    align:"center";
}